.form-container {
    display: flex;
    height: 100%;
}

.left-column {
    flex: 60%;
    padding: 0 92px 32px;
}

.right-column {
    flex: 40%;
    border-left: solid 1px black;
    padding: 60px;
    padding-top: 0px;
}